*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
.main-box{
    position: relative;
    width: 45%;
    height: 400px;
    margin: 0 auto;
    border: 1px solid white;
    margin-top: 30px;
    background-image: url(./images/shutterstock_159240938.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.tittle-box{
    width: 20%;
    height: 10%;
    border: 0 solid black;
    background-color: white;
    position: absolute;
    bottom: 30px;
    left: 0;
}
.tittle-box h1{
    font-size: medium;
    position: absolute;
    top: calc(50% - 25%);
    left: 15px;
}
article h2{
    display: block;
    margin-left: 27.5%;
    margin-top: 20px;
    font-size: medium;
    color: grey;
    opacity: 0.7;
}
article p:nth-of-type(1){
    display: block;
    width: 45%;
    margin-left: 27.5%;
    margin-top: 20px;
    font-size: 30px;
    opacity: 0.9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
article p:nth-of-type(2){
    display: block;
    width: 45%;
    margin-left: 27.5%;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
    
}

